<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>原耽語錄產生器</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>原耽語錄產生器</h1>
        <p id="quote">產生一條隨機原耽語錄</p>
        <button id="generateQuote">產生隨機原耽語錄</button>
        <div class="theme-selector">
            <label for="theme">切換主題：</label>
            <select id="theme">
                <option value="default">經典白</option>
                <option value="green">松葉綠</option>
                <option value="brown">木質杏</option>
                <option value="dark">石墨灰</option>
            </select>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>